<header class="head {{ session.get('theme', 'dark')}}">
    <nav>
        <div class="nav_sections">
            <div>
                <p class="main_title">HCR2 Setups Guide</p>
            </div>

            <div class="links_and_settings">
                <div class="links">
                    <a href="{{ url_for('home') }}" class="{{ 'active_page' if active_page == 'Home'}}">Home</a>
                    <a href="{{ url_for('setups') }}" class="{{ 'active_page' if active_page == 'setups'}}">Setups</a>
                    <a href="{{ url_for('leaderboards') }}" class="{{ 'active_page' if active_page == 'leaderboards'}}">Leaderboards</a>
                    <a href="{{ url_for('search') }}" class="{{ 'active_page' if active_page == 'search'}}">Search</a>
                    <a href="{{ url_for('home', _anchor='information') }}">Information</a>
                </div>
                <details class="settings">
                    <summary>Settings</summary>
                    <form class="settings_menu" action="{{request.path}}" method="POST">
                        <label class="settings_section">
                            <span>Dark Theme:</span>
                            <input type="checkbox" class="settings_theme" name="theme" value="dark" {% if session.get('theme','dark') == 'dark' %} checked {% endif %}>
                        </label>
                        <label>
                            <span>Amount of rows per page</span>
                            <input type="number" id="rpp" list="rpp_options" name="rows_per_page" min="1" max="100">
                            <datalist id="rpp_options">
                                <option value="5"></option>
                                <option value="10"></option>
                                <option value="20"></option>
                                <option value="30"></option>
                                <option value="40"></option>
                                <option value="50"></option>
                            </datalist>
                        </label>
                        <label>
                            <input type="submit" value="Save" name="Save">
                        </label>
                    </form>
                </details>
            </div>
        </div>
    </nav>
</header>