{% extends 'layout.html' %}
{% block content %}

{% if session.get('settings_error') %}
    {% for i in session.pop('settings_error') %}
        <p>{{i}}</p>
    {% endfor %}
{% endif %}

<h1 class="title">LEADERBOARDS</h1>
<div class="leaderboards">
    <div class="results">
        <h2 class="table_title">TOP PLAYERS (WRS)</h2>
        <table>
            <thead>
                <tr>
                    <td>Rank</td>
                    <td>Player</td>
                    <td>WRs</td>
                </tr>
            </thead>

            <tbody>
                {% for wrs, player in player_wr_count %}
                    {% if loop.index <= session.get('rows_per_page')|int %}
                        <tr>
                            <td>
                                {% if loop.index == 1 %}&#x1f947
                                {% elif loop.index == 2 %}&#x1F948
                                {% elif loop.index == 3 %}&#x1F949
                                {% endif %}
                                {{loop.index}}
                            </td>
                            <td>{{player}}</td>
                            <td>{{wrs}}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="results">
        <h2 class="table_title">MOST USED PARTS</h2>
        <table>
            <thead>
                <tr>
                    <td>Rank</td>
                    <td>Slot1</td>
                    <td>Slot2</td>
                    <td>Slot3</td>
                    <td>Slot4</td>
                    <td>Times Used</td>
                </tr>
            </thead>

            <tbody>
                {% for count, part_id, i in parts_count %}
                    {% if loop.index <= session.get('rows_per_page')|int %}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td>
                                <img src="{{ url_for('static', filename=i.slot1+'.webp') }}" alt="{{i.slot1}}" title="{{i.slot1}}">
                            </td>
                            <td>
                                <img src="{{ url_for('static', filename=i.slot2+'.webp') }}" alt="{{i.slot2}}" title="{{i.slot2}}">
                            </td>
                            <td>
                                <img src="{{ url_for('static', filename=i.slot3+'.webp') }}" alt="{{i.slot3}}" title="{{i.slot3}}">
                            </td>
                            <td>
                                <img src="{{ url_for('static', filename=i.slot4+'.webp') }}" alt="{{i.slot4}}" title="{{i.slot4}}">
                            </td>
                            <td>{{count}}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}