{% extends 'layout.html' %}
{% block content %}

{% if session.get('settings_error') %}
    {% for i in session.pop('settings_error') %}
        <p>{{i}}</p>
    {% endfor %}
{% endif %}

<h1 class="title">RECORDS</h1>

<div class="search-form">
    <form method="GET" action="{{ url_for('search') }}">
        <div class="search-grid">
            <div class="search-box">
                <label>Time</label>
                <input type="number" step="any" name="time" value="{{filters[0]}}"><br>
            </div>

            <div class="search-box">
                <label>Player</label>
                <details class="expand" name="expand">
                    <summary></summary> 
                    <div class="expand_details">
                        {% for i in players %}
                            <label class="expand_options">
                                <span>{{i}}</span>
                                <input type="checkbox" value="{{i}}" name="player_filter" {% if filters[9] is not none and i in filters[9] %} checked {% endif %}>
                            </label>
                        {% endfor %}
                    </div>
                </details>
            </div>

            <div class="search-box">
                <label>Tracks</label>
                <details class="expand" name="expand">
                    <summary></summary> 
                    <div class="expand_details">
                        {% for i in tracks_list %}
                            <label class="expand_options">
                                <span>{{i}}</span>
                                <input type="checkbox" value="{{i}}" name="track_filter" {% if filters[10] is not none and i in filters[10] %} checked {% endif %}>
                            </label>
                        {% endfor %}
                    </div>
                </details>
            </div>

            <div class="search-box">
                <label>Tunes</label>
                <div class="multi-select">
                    <input type="number" max="20" min="1" name="tune1" value="{{filters[1]}}">
                    <input type="number" max="20" min="1" name="tune2" value="{{filters[2]}}">
                    <input type="number" max="20" min="1" name="tune3" value="{{filters[3]}}">
                    <input type="number" max="20" min="1" name="tune4" value="{{filters[4]}}">
                </div>
            </div>

            <div class="search-box">
                <label>Vehicles</label>
                <details class="expand" name="expand">
                    <summary></summary> 
                    <div class="expand_details">
                        {% for i in vehicles_list %}
                            <label class="expand_options">
                                <span>{{i}}</span>
                                <input type="checkbox" value="{{i}}" name="vehicle_filter" {% if filters[11] is not none and i in filters[11] %} checked {% endif %}>
                            </label>
                        {% endfor %}
                    </div>
                </details>
            </div>

            <div class="search-box">
                <label>Parts</label>
                <div class="multi-select">
                    {% for i in range(4) %}
                    <details class="expand" name="expand">
                        <summary>Slot {{i+1}}</summary>
                        <div class="expand_details">
                            {% for x in parts_list %}
                                <label class="expand_options">
                                    <span>{{x}}</span>
                                    <input type="checkbox" value="{{x}}" name="slot{{i+1}}" {% if filters[5+i] is not none and x in filters[5+i] %} checked {% endif %}>
                                </label>
                            {% endfor %}
                        </div>
                    </details>
                    {% endfor %}
                </div>
            </div>
            
            <label class="expand_options world_records">
                <span>World Records</span>
                <input type="checkbox" name="wr_checked" {% if "on" in filters %} checked {% endif %}>
            </label>
            
            <div type="submit" class="clear_filters"><a href="{{url_for('search')}}">Clear Filters</a></div>
        </div>

        <br>

        <div class="search-bar">
            <input type="search" name="search_bar" value="{{search_bar}}" placeholder="Eg. Ndwg Bottom Gear">
            <button type="submit">Search</button>
        </div>
    </form>
</div>

{% if result_errors%}
    <div>
        {% for i in result_errors %}
            <div>{{i}},</div><br>
        {% endfor %}
    </div>
{% endif %}

<br>

<div class="results">
    {% if result %}
        <table>
            <thead>
                <tr>
                    <td>Setup ID</td>
                    <td>Time</td>
                    <td>Player</td>
                    <td>Track</td>
                    <td>Tunes</td>
                    <td>Vehicle</td>
                    <td colspan="4">Parts</td>
                </tr>
            </thead>
            <tbody>
                {% for i in result %}
                    <tr>
                        <td>{{i.setup_id}}</td>
                        <td>{{i.wr_time.time}}</td>
                        <td>{{i.wr_time.player}}</td>
                        <td>{{i.track.track_name}}</td>
                        <td>{{i.tune.tune1}}/{{i.tune.tune2}}/{{i.tune.tune3}}/{{i.tune.tune4}}</td>
                        <td>{{i.vehicle.vehicle_name}}</td>
                        <td>
                            <img src="{{ url_for('static', filename=i.parts_combinations.slot1+'.webp') }}" alt="{{i.parts_combinations.slot1}}" title="{{i.parts_combinations.slot1}}">
                        </td>
                        <td>
                            <img src="{{ url_for('static', filename=i.parts_combinations.slot2+'.webp') }}" alt="{{i.parts_combinations.slot2}}" title="{{i.parts_combinations.slot2}}">
                        </td>
                        <td>
                            <img src="{{ url_for('static', filename=i.parts_combinations.slot3+'.webp') }}" alt="{{i.parts_combinations.slot3}}" title="{{i.parts_combinations.slot3}}">
                        </td>
                        <td>
                            <img src="{{ url_for('static', filename=i.parts_combinations.slot4+'.webp') }}" alt="{{i.parts_combinations.slot4}}" title="{{i.parts_combinations.slot4}}">
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="norecords">
            <p>No records found that match the filters</p>
        </div>
    {% endif %}
</div>
{% endblock %}