{% extends 'layout.html' %}
{% block content %}

{% if session.get('settings_error') %}
    {% for i in session.pop('settings_error') %}
        <p>{{i}}</p>
    {% endfor %}
{% endif %}

<div class="insert-form">
    <div class="search-form">
        <h1 class="title">SUBMIT SETUPS</h1>
        <form method="POST" action="{{url_for('setups')}}">
            <div class="search-grid">
                <div class="search-box">
                    <label>Vehicle</label>
                    <select name="vehicle_name">
                        <option value="" disabled hidden selected></option>
                        {% for i in vehicles_list %}
                            <option value="{{i}}">{{i}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="search-box">
                    <label>Time</label>
                    <input type="number" step="any" name="time">
                </div>

                <div class="search-box">
                    <label>Player</label>
                    <input type="text" name="player">
                </div>

                <div class="search-box">
                    <label>Tunes</label>
                    <div class="multi-select">
                        <input type="number" max="20" min="1" name="tune1">
                        <input type="number" max="20" min="1" name="tune2">
                        <input type="number" max="20" min="1" name="tune3">
                        <input type="number" max="20" min="1" name="tune4">
                    </div>
                </div>

                <div class="search-box">
                    <label>Tracks</label>
                    <select name="track_name">
                        <option value="" disabled selected hidden></option>
                        {% for i in tracks_list %}
                            <option value="{{i}}">{{i}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="search-box">
                    <label>Parts</label>
                    <div class="multi-select left">
                        <select name="slot1">
                            <option value="" selected disabled hidden></option>
                            {% for i in parts_list %}
                                <option value="{{i}}">{{i}}</option>
                            {% endfor %}
                        </select>

                        <select name="slot2">
                            <option value="" selected disabled hidden></option>
                            {% for i in parts_list %}
                                <option value="{{i}}">{{i}}</option>
                            {% endfor %}
                        </select>

                        <select name="slot3">
                            <option value="" selected disabled hidden></option>
                            {% for i in parts_list %}
                                <option value="{{i}}">{{i}}</option>
                            {% endfor %}
                        </select>

                        <select name="slot4">
                            <option value="" selected disabled hidden></option>
                            {% for i in parts_list %}
                                <option value="{{i}}">{{i}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <br>

            <div class="search-bar">
                <button type="submit" name="insert" value="insert">Insert</button>
                <button type="submit" class="clear_filters">Clear Fields</button>
            </div>
        </form>
    </div>
</div>

<div>
    {% if insert_errors %}
        <div>
            {% for i in insert_errors %}
                <p>{{i}}</p>
            {% endfor %}
        </div>
    {% endif %}
</div>

<h1 class="title" id="all_setups">ALL SETUPS</h1>
<div class="results">
    <table>
        <thead>
            <tr>
                <td>Setup ID</td>
                <td>Time</td>
                <td>Player</td>
                <td>Track</td>
                <td>Tunes</td>
                <td>Vehicle</td>
                <td colspan="4">Parts</td>
                <td>Delete</td>
            </tr>
        </thead>
        
        <tbody>
            {% for s in setups %}
                {% if loop.index <= session.get('rows_per_page')|int %}
                    <tr>
                        <td>{{s.setup_id}}</td>
                        <td>{{s.wr_time.time}}</td>
                        <td>{{s.wr_time.player}}</td>
                        <td>{{s.track.track_name}}</td>
                        <td>{{s.tune.tune1}}, {{s.tune.tune2}}, {{s.tune.tune3}}, {{s.tune.tune4}}</td>
                        <td>{{s.vehicle.vehicle_name}}</td>
                        <td>
                            <img src="{{ url_for('static', filename=s.parts_combinations.slot1+'.webp') }}" alt="{{s.parts_combinations.slot1}}" title="{{s.parts_combinations.slot1}}">
                        </td>
                        <td>
                            <img src="{{ url_for('static', filename=s.parts_combinations.slot2+'.webp') }}" alt="{{s.parts_combinations.slot2}}" title="{{s.parts_combinations.slot2}}">
                        </td>
                        <td>
                            <img src="{{ url_for('static', filename=s.parts_combinations.slot3+'.webp') }}" alt="{{s.parts_combinations.slot3}}" title="{{s.parts_combinations.slot3}}">
                        </td>
                        <td>
                            <img src="{{ url_for('static', filename=s.parts_combinations.slot4+'.webp') }}" alt="{{s.parts_combinations.slot4}}" title="{{s.parts_combinations.slot4}}">
                        </td>
                        <td>
                            <form action="{{ url_for('setups') }}" method="POST" class="delete_submit">
                                <div class="search-bar">
                                    <button type="submit" name="setup_delete" value="{{s.setup_id}}" onclick="return confirm('Are you sure you want to delete setup {{s.setup_id}}?');">Delete</button>
                                </div>
                            </form>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}